AddDefaultCharset UTF-8

php_flag magic_quotes_gpc 0
php_flag magic_quotes_runtime 0

RewriteEngine On

RewriteBase /1.1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule .* index.php?q=$0